<?xml version="1.0"?>

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />

        <roleManager defaultProvider="MembershipRoleProvider" enabled="true" cacheRolesInCookie="false">
            <providers>
                <clear />
                <add name="MembershipRoleProvider" type="Celeriq.RepositoryTestSite.Objects.MembershipRoleProvider, Celeriq.RepositoryTestSite" />
            </providers>
        </roleManager>
        <httpCookies httpOnlyCookies="false" requireSSL="false" />

        <customErrors defaultRedirect="/ErrorPage.aspx" mode="On">
        </customErrors>
        <authentication mode="Forms">
            <forms loginUrl="/login.aspx" name="formsauth3" path="/" slidingExpiration="true" cookieless="UseCookies" requireSSL="false" />
        </authentication>

        <sessionState mode="SQLServer" cookieless="false" regenerateExpiredSessionId="false" timeout="30" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=.;Initial catalog=AspState;Integrated Security=SSPI;" stateNetworkTimeout="60" />

    </system.web>

    <location path="Default.aspx">
        <system.web>
            <authorization>
                <allow roles="Standard" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Results.aspx">
        <system.web>
            <authorization>
                <allow roles="Standard" />
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="ErrorPage.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Login.aspx">
        <system.web>
            <authorization>
                <deny roles="Standard" />
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>

</configuration>
