<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="UserConfiguration" type="Celeriq.Server.Interfaces.UserConfigurationSection, Celeriq.Server.Interfaces, Version=2.4.0.105, Culture=neutral, PublicKeyToken=null" />
    </configSections>

    <UserConfiguration>
        <Users>
            <add UserName="root" Password="password" UserId="4a9fccd7-0e6c-4233-ba83-2560344e57bc" />
        </Users>
    </UserConfiguration>
    
    <appSettings>
        <add key="Storage" value="File" />
        <add key="DataPath" value="C:\Celeriq\Data" />
        <add key="MaxMemory" value="0" />
        <add key="AutoDataUnloadTime" value="0" />
        <add key="MaxRunningRepositories" value="0" />
    </appSettings>

    <!--
    <connectionStrings>
        <add key="Storage" value="Database" />
        <add name="DataCoreEntities" connectionString="Data Source=.;Initial Catalog=Celeriq;Integrated Security=SSPI;Connection Timeout=60;multipleactiveresultsets=true" providerName="System.Data.EntityClient" />
    </connectionStrings>
    -->
    
</configuration>