<?xml version="1.0"?>
<configuration>

    <appSettings>
        <add key="owin:AutomaticAppStartup" value="false" />
    </appSettings>
    
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <sessionState mode="SQLServer" cookieless="false" regenerateExpiredSessionId="false" timeout="30" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=.;Initial catalog=AspState;Integrated Security=SSPI;" stateNetworkTimeout="60"/>
        <pages enableViewState="false" />

        <roleManager defaultProvider="MembershipRoleProvider" enabled="true" cacheRolesInCookie="true">
            <providers>
                <clear />
                <add name="MembershipRoleProvider" type="Celeriq.AdminSite.Objects.MembershipRoleProvider, Celeriq.AdminSite" />
            </providers>
        </roleManager>

    </system.web>

    <system.web.extensions>
        <scripting>
            <webServices>
                <jsonSerialization maxJsonLength="20000000"/>
            </webServices>
        </scripting>
    </system.web.extensions>

    <!--
    <location path="AuthUser">
        <system.web>
            <authorization>
                <allow roles="auth" />
                <deny users="*" />
            </authorization>
        </system.web>
    </location>
    -->
    
</configuration>
